.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#projects {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
#About {
  background-color: #95c6f3f1;
}
#contact {
  background-color: #e2edff;
}
